@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

.titolo-pagamento{
  position:relative;
  font-size:4vw;
  line-height:4vw;
  font-family:"Elephant";
  width:100%;
  text-align:center;
  padding-top:3vw;
  padding-bottom:3vw;
  color:rgb(138,1,8);
}

.ultima-riga{
  padding-bottom:1vw;
  padding-top:0.5vw;
  width:100%;
  display:block;
}
 
.delete-product{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: red;
  font-size: 0.9vw;
  font-weight: normal;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  left: 6vw;
  padding-top: 0.1vw;

}

.tot{
  margin-right:0;
  color:midnightblue;
  font-size:1.2vw;
  font-weight:bold;
  display:inline-block;
}

.cart-content{
  width:100%;
  position:relative;
  height:100%;
  /* opacity:0.2; */
}

.cart-product-list{
  background:lightgrey;
  display:inline-block;
  width:30%;
  text-align:right;
  border:1px solid black;
  height:60%;
  scrollbar-color: white black;
  scrollbar-width:thin;
  overflow-y:scroll;
}

.product-div-cart{
  margin:0.5vw;
  font-family:"Elephant";
}
.nome-cart{
  font-size:1.2vw;
  color:rgb(50,50,50);
}

.codice-cart{
  font-size: 1vw;
  color:black;  
  font-family:Arial;
}

.prezzo-cart{
  font-size:1.2vw;
  color:rgb(138,1,8);
}

.total-price-div{
  width:50%;
  display:block;
  padding-top:3vw;
  position:relative;
  align-content:right;
  text-align:right;
  color:GOLD;
  font-size:2.5vw;
  font-family:"Elephant";
  left:42%;

}

.total-label{
  display:inline-block;
  position:relative;
}

.price{
  display:inline-block;
  z-index:1;
  padding-left:1vw;
}


.euro-symbol-cart{
  font-size:2vw;
  position:relative;
  top:-1vw;
  display:inline-block;
  z-index:1;
}


.carrello-vuoto-text{
  color:black;
  font-size:1vw;
  text-align: center;
  font-weight:bold;
  margin-top:30%;
  padding-top:40%;
  font-family: "Elephant";
}

.buy-button-payment-cart{
  display:block;
  background:rgb(0, 0, 175);
  color:white;
  font-family:"Precious";
  font-size: 20px;
  width:170px;
  height:40px;
  position:relative;
  display:inline-block;

}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 




.total-form-payment{
  margin-left:2vw;
  position:relative;
  border:1px solid black;
  height:60%;
  text-align:right;
  display:inline-block;
  width:50%;
  overflow-y: scroll;
  overflow-x:hidden;
  /* background:rgb(138, 1, 8); */
  background:none;
  color:white;
  scrollbar-color: white black;
  scrollbar-width:thin;
  color:black;
}


::-webkit-scrollbar {
  width: 10px;
  position:relative;
}


::-webkit-scrollbar-track {
  background:black;
}


::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 

.button-paypal-container {
  width: 30% !important;
  position:relative;
  left:8%;
  top:-2.4vw;

}

#sumup-card{
  background-color:white;
  position:absolute;
  top:-510px;
  z-index:7;
  left:-280px;
  width:400px;
}

.sumup-card-visible{
  display:block !important;
}

.sumup-card-invisible{
  display:none !important;
}

.sumup-button-payment-cart{
  display:block;
  background:rgb(168, 167, 167);
  color:black;
  font-family:"Precious";
  font-size: 20px;
  width:200px;
  height:45px;
  position:relative;
  top:-50px;
  left:30px;
  z-index:6;

}
