@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}

@font-face{
  font-family:"Elephant";
  src: local("Elephant"), url(../Fonts/Elephant.ttf)
}


.chi-siamo-tooltip-container{
  width:50vw;
  height:40vw;
  border:white 1px solid;
  position:absolute;
  left:50%;
  z-index:4;
  overflow-y:scroll;
  scrollbar-color: white black;
  scrollbar-width:thin;
  display:block !important;
  padding:2vw;
  background:rgb(255, 190, 27);
  /* background-image:url("../Immagini/Pacchetti/marmo.jpg"); */
}


.title-chi-siamo{
  padding-top: 1vw;
  position: relative;
  padding-bottom: 4vw;
  font-size: 4.5vw;
  font-family: "Elephant";
  color:rgb(138,1,8);

;}

.central-div-chi-siamo{
  white-space: pre-wrap;
  position:relative;
  width:97%;
  padding-left:1vw;
  padding-bottom:2vw;
  background:none;
  font-size:1.3vw;
  text-align:justify;
  display:block;
  font-family:"Elephant";
  color:midnightblue;
}


.foto-famiglia-laterale{ 
  float:left;
  flex-direction: row;
  margin-right:1vw;
  position:relative;
  width:60%;
  height:20vw;
  background:rgb(176, 176, 191);
  vertical-align: top;
  margin-top:1%;
}


.foto-famiglia-sotto{
  position:relative;
  background:rgb(176, 176, 191);
  height:25vw;
  line-height:25vw;
  width:95%;
  display:block;
  margin-left:1vw;
}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 

.bottom-space-chi-siamo{
  padding-bottom:0.2vw;
  display:block;
  position:relative;
  top:70%;
}