@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}

.contatti-tooltip-container{
  padding: 1.5vw;
  width: 24vw;
  height: 32vw;
  color: white;
  background: black;
  border: white 1px solid;
  position: absolute;
  right: 47%;
  z-index: 2;
  overflow-y: scroll;
  scrollbar-color: white black;
  scrollbar-width: thin;
  font-family: "Worstveld";
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  display: block;
}

.logo-contatti{
  position:relative;
  background-image:url("../Immagini/logoSiciliaFood.jpeg");
  border: white 1px solid;
  position: relative;
  width: 100%;
  height: 10vw;
  background-size: contain;
  display: block;
  margin-bottom:3vw;
}



.facebook-logo{
  background-image:url("../Immagini/Contatti/facebook.png");
  position: relative;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  display: inline-block;
}



.whatsapp-logo{
  background-image:url("../Immagini/Contatti/whatsapp.png");
  position: relative;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  display: inline-block;
}

.email-logo{
  background-image:url("../Immagini/Contatti/email.png");
  position: relative;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  display: inline-block;
}

.cell-logo{
  background-image:url("../Immagini/Contatti/phone.png");
  position: relative;
  width: 4vw;
  height: 4vw;
  background-size: contain;
  display: inline-block;
}



.block-contatto{
  position: relative;
  border: white 1px solid;
  height: 4vw;
  text-align: left;
  vertical-align: middle;
  margin-top: 1vw;
  width: 100%;
}



.label-contatto{
  display: inline-block;
  position: relative;
  width: 80%;
  left:1vw;
  top: -1.6vw;
}


