@-webkit-keyframes changePic {
  0%    {background-image: url("../Immagini/Homepage/carrettoSiciliano.jpeg");}
  18%   {background-image: url("../Immagini/Homepage/carrettoSiciliano.jpeg");}
  20%   {background-image: url("../Immagini/Homepage/SiciliaFoodCartina.jpeg");}
  38%   {background-image: url("../Immagini/Homepage/SiciliaFoodCartina.jpeg");}
  40%   {background-image: url("../Immagini/Homepage/cannoloSiciliano.jpeg");}
  58%   {background-image: url("../Immagini/Homepage/cannoloSiciliano.jpeg");}
  60%   {background-image: url("../Immagini/Homepage/biscottiMandorla.jpeg");}
  78%   {background-image: url("../Immagini/Homepage/biscottiMandorla.jpeg");}
  80%   {background-image: url("../Immagini/Homepage/scacciapensieri.jpeg");}
}

@keyframes changePic {
  0%    {background-image: url("../Immagini/Homepage/carrettoSiciliano.jpeg");}
  18%   {background-image: url("../Immagini/Homepage/carrettoSiciliano.jpeg");}
  20%   {background-image: url("../Immagini/Homepage/SiciliaFoodCartina.jpeg");}
  38%   {background-image: url("../Immagini/Homepage/SiciliaFoodCartina.jpeg");}
  40%   {background-image: url("../Immagini/Homepage/cannoloSiciliano.jpeg");}
  58%   {background-image: url("../Immagini/Homepage/cannoloSiciliano.jpeg");}
  60%   {background-image: url("../Immagini/Homepage/biscottiMandorla.jpeg");}
  78%   {background-image: url("../Immagini/Homepage/biscottiMandorla.jpeg");}
  80%   {background-image: url("../Immagini/Homepage/scacciapensieri.jpeg");}
}



.animation-class{
  position: relative;
  width: 32vw;
  height: 25vw;
  display: inline-block;
  vertical-align: top;
  left: 3vh;
}

.animation-div{
  position: relative;
  display: block;
  height:inherit;
  border: 5px ridge gray;
  background-image: url("../Immagini/Homepage/cannoloSiciliano.jpeg");
  background-size: 100% 100%;
  animation: changePic 30s infinite;
  -webkit-animation: changePic 30s infinite;
}






