@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

@font-face{
  font-family:"Elephant";
  src: local("Elephant"), url(../Fonts/Elephant.ttf)
}



body{
  background-color:orange; 
  color:black;
  align-content:center;
  background-size:cover ;
}



.foto-laterale{
  display: inline-block;
  width: 10vw;
  height: 15vw;
  position: absolute;
  left: 4vw;
  top: 0px;
  background-image:url("../Immagini/Homepage/arancino.jpg");
  background-size:100% 100%;
}

#headerTitolo{
  position: absolute;
  width: 100vw;
  text-align: center;
  display: flex;
  padding-left: 4vw;
}


#divLogin{ 
  position: absolute;
  left: 90vw;
  top: 10%;
  text-decoration: underline;
  font-family: courier;
  color: black;
  font-size: 1vw;
  cursor:pointer;
}


.titolo{
  align-content: center;
  height: 22vh;
  width: 22vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
  display: block;
  background-size: 100% 100%;
  background-image: url("../Immagini/Homepage/titoloSiciliaFood.jpeg");
}


.access-section{
  position:relative;
  top:350px;
  display:inline-flex;
  text-decoration:underline;
  font-family:"Precious";
  font-size:40px;

}
.space-5{
  height:5%;
}

.space-20{
  display:block;
  position:absolute;
  height:20%;
  width:100%;
  top:600px;
  background:blue;
}

.horizontally-spaced-100{
  padding-left:100px;
}



.menu-context-class{
  display: block;
  background: none;
  width: 80vw;
  position: relative;
  top: 20vh;
  align-content: center;
  padding-left: 16vw;
}


.category-button-unselected{
  border-radius: 10px;
  height: 3.5vw;
  font-family: "Elephant";
  font-size: 1.2vw;
  background: rgb(138, 1, 8);
  color: white;
  display: block;
  width: 100%;
  border: 1px solid white;
  margin-bottom: 1%;
  text-shadow: 0 0 4px red, 0 0 6px blue;
}

.category-button-selected{
  height: 3.5vw;
  width:100%;
  font-family:"Elephant";
  font-size: 1.2vw;
  background:white;
  color:black;
  border:1px white solid;
  text-decoration:underline;
  display:block;
  border-radius:10px;
  margin-bottom:1%;

}



.central-class{ 
  position: absolute;
  width: 100vw;
  height: 25vw;
  line-height: 40vw;
  display: block;
  margin-top: 28vh;
  align-content: center;
  padding-left: 3vw;
}


.category-list-class{
  position: relative;
  width: 18vw;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.category-list-class-right{
  position: relative;
  width: 18vw;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  left:6vh;

}



.search-div-class{
  position: absolute;
  width: 62vw;
  left: 32vw;
  top: 45vw;
  font-family: Precious;
  font-size: 2.3vw;
  text-align: left;
}

.label-search{
  position: absolute;
  right: 24vw;
  height: 2vw;
  line-height: 2vw;
}


.search-filter-class{
  color: rgb(138, 1, 8);
  position: absolute;
  top: 3vw;
  font-size: 2vw;
  left: -6vw;
  background: white;
  border: solid 1px black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 43.5vw;
  display: inline-block;
}

.logo-div{
  text-align: center;
  width: 100%;
  display: block;
  height: 12vh;
  position: relative;
  }

.logo-im{
  position:relative;
  width:20vh;
  height:10vh;
}

.references{
  font-family: "Arial";
  font-size: 2vh;
  color: black;
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 3%;
}


.footer{
  padding-top: 20vh;
  position: relative;
  width: 117vw;
  left: -27vw;
}

.products-list-and-footer{
  position: absolute;
  top: 58vw;
  width: 80vw;
  left: 18vw;
}


.search-icn{
  height: 2.3vw;
  position: absolute;
  left: 38vw;
  top: 3.2vw;
}


.promotions-selected{
  position: absolute;
  width: 15vw;
  height: 2.5vw;
  font-family: "Elephant";
  font-size: 1.3vw;
  color:blue;
  border:1px solid white;
  text-decoration:underline;
  display:inline-block;
  background:rgb(255, 255, 119);
  top: 48vw;
  left:75vw;
}


.promotions-unselected{
  position: absolute;
  width: 15vw;
  height: 2.5vw;
  font-family: "Elephant";
  font-size: 1.3vw;
  color: white;
  border: 1px solid white;
  display: inline-block;
  left: 73vw;
  background: rgb(138, 1, 8);
  top: 48vw;
}
