body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align:center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.full-width{
  width:100vw;
  text-align: center;
}

.portrait-page{
  width:100vw;
  height:100vh;
  font-weight:bold;
  box-sizing:border-box;
}

.text-portrait{
  font-weight:bold;
  margin-top:30%;
  padding-top:40%;
}