@font-face{
  font-family:"Elephant";
  src: local("Elephant"), url(../Fonts/Elephant.ttf)
}



.menu-span-element{
  position:relative;
}


.menu-button-unselected{
  width: 16vw;
  height: 3vh;
  font-family: "Elephant";
  font-size:3vh;
  background: none;
  color: rgb(138, 1, 8);
  border: none;
  display: inline-block;
}

.menu-button-selected{
  width: 16vw;
  height: 3vh;
  font-family:"Elephant";
  font-size:3vh;
  background:none;
  color:black;
  border:none;
  cursor:pointer;
  text-decoration:underline;
  display:inline-block;
}


