@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}


@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}


ul{
  line-height:1.3vw;
  text-align:justify;
}

.pacchetti-tooltip-container{
  background-size: contain;
  width: 45vw;
  height: 30vw;
  position: absolute;
  left: 50%;
  z-index: 4;
  overflow-y: scroll;
  scrollbar-color: white black;
  scrollbar-width:thin;  
  display:block !important;
  background-image:url("../Immagini/cannoloSiciliano.jpeg");
  border:rgb(50, 50, 50) 1px solid;
  color:black;
  font-family:"Precious";
  padding: 2vw;
  padding-bottom: 0vw;
}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:white;
}

::-webkit-scrollbar-thumb {
  background: black;
} 

.titolo-pacchetti{
  font-size: 4vw;
  position: relative;
  color: rgb(138, 1, 8);
  font-family: 'Elephant';
}

.subtitle-pacchetti{
  position: relative;
  font-family: "Precious";
  font-weight: bold;
  font-size: 2vw;
  color: black;
  margin-top:3vw;
  margin-left:10%;
  margin-right:10%;
  padding-top: 0.8vw;
  padding-bottom:0.8vw;
  background:grey;
}


.packages-list{
  position: relative;
  padding-top: 4vw;
  overflow: hidden;
}

.package-container{
  position: relative;
  height: 12vw;
  line-height: 12vw;
  width: 95%;
  padding-bottom: 4vw;
}

.description-package{
  position: relative;
  width: 45%;
  display: inline-block;
  font-family: "Worstveld";
  vertical-align: top;
  font-weight:bold;
  font-size: 2vw;
  color:midnightblue;
  height: 75%;
  padding-left:0.5vw;
  background:rgb(255, 239, 241);
  padding-top:6%;
}

.image-package{
  position:relative;
  width:45%;
  height:90%;
  display:inline-block;
  border:5px solid rgb(170, 169, 169);
  border-style: ridge;
  vertical-align:top;
  margin-left:5%;
}



.prezzo-package{
  height: 2vw;
  position: absolute;
  font-size: 2.5vw;
  color:orangered;
  display: inline-block;
  font-style: italic;
  z-index: 1;
  right: 0.5vw;
  padding-top: 1vw;
  padding-left:10vw;
  font-family: "Elephant";
}


.euro-symbol-package{
  height: 1.5vw;
  font-size: 2vw;
  color: orangered;
  font-style: italic;
  top: -1vw;
  position: relative;
  display: inline-block;
  padding-left: 0.5vw;
  font-family: "Elephant";
  font-weight:bold;
}


@media only screen and (max-width: 1000px) {
  .prezzo-package{
    right:2vw;
  }
  .euro-symbol-package{
    position:absolute;
    top:0;
  }
}