@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}


@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}


ul{
  line-height:20px;
  text-align:justify;
}

.partners-tooltip-container{
  width:45vw;
  height:30vw;
  border:white 1px solid;
  position:absolute;
  right:50%;
  z-index:4;
  overflow-y:scroll;
  scrollbar-color: white black;
  scrollbar-width:thin;
  color:rgb(138,1,8);
  display:block !important;
  padding:2vw;
  background: black;
  font-family:"Elephant";
  background-image:url("../Immagini/partners-texture.jpeg");
  background-size:100% 100%;
}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}

::-webkit-scrollbar-thumb {
  background: white;
} 

.titolo-partners{
  font-size: 4vw;
  line-height: 4vw;
  position: relative;
  padding-bottom: 2vw;
  padding-top:1vw;
}

.subtitle-partners{
  position: relative;
  font-family: "Precious";
  font-size: 2vw;
  font-weight: bold;
  line-height: 2.5vw;
  color: midnightblue;
}


.partners-list{
  padding-top: 4vw;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 2vw;
}


.partners-category-div{ 
  position: relative;
  width: 70%;
  height: 4vw;
  line-height: 4vw;
  border: 2px solid white;
  font-family: "Precious";
  background: black;
  color: white;
  font-size: 2vw;
}



.partner-block {
  position: relative;
  border: 1px solid white;
  width: 67.6%;
  margin-top: 1vw;
  font-family: "Courier";
  background: rgb(176, 241, 243);
  font-size: 1vw;
  text-align: justify;
  margin-bottom: 2vw;
  display: block;
  left: 6.5vw;
  padding: 0.5vw;  
}


.name-partner{
  font-weight: bold;
  color:rgb(138,1,8);
  margin-bottom:0.5vw;
  font-size:1.2vw;
}

.field-partner{
  font-weight: bold;
  color: black;
  font-size:1vw;
}


@media only screen and (min-width: 1500px) {

}

