@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

@font-face{
  font-family:"Elephant";
  src: local("Elephant"), url(../Fonts/Elephant.ttf)
}


.payment-module{
  width:100%;
  font-size:1vw;
  font-family:"Elephant";
  text-align:center;
  align-content:center;
}

.titolo-payment-form{
  position:relative;
  font-size:1.5vw;
  color: rgb(138, 1,8);
  font-family:"Elephant";
  margin:1vw;
}

.total-form{
  position:relative;
  margin-top:2vw;
  text-align:left;
  margin-left:1vw;
}

.form-payment{
  position:relative;
  width:88%;
  display:block;
  margin-bottom:1vw;
}


.form-payment-note{
  position:relative;
  vertical-align:bottom;
  text-align:left;
  width:88%;
}

.label-shipping-mode{
  font-size:1.2vw;
  padding-bottom:0.5vw;
  color:rgb(40,40,40);
}

.form-payment-paymentMode{
  position:relative;
  vertical-align:bottom;
  margin-bottom:50px;
  text-align:left;
/*RESO INVISIBILE*/
  display:none;
  top:20px;
  border:1px black solid;
}


.form-payment-shippingMode{
  position:relative;
  vertical-align:bottom;
  margin-top:1vw;
  text-align:left;
  display:inline-block;
  top:1vw;
  color:white;
  border:1px white solid;
  margin-bottom:3vw;
  width:85%;
  padding:0.5vw;

}


.label-payment{
  display:block;
  text-align:left;
  position:relative;
  font-size:1.2vw;
  padding-bottom:0.5vw;
  color: rgb(50, 50, 50)
}

.input-payment{
  display:block;
  position:relative;
  font-size:1vw;
  height:1.5vw;
  max-height:1.5vw;
  line-height: 1.5 !important;
  width:100%;;
}


input[type="radio"]{
  padding-right:0.5vw;
}


.input-payment-textarea{
  display:inline-block;
  position:relative;
  font-size: 1vw;
  line-height: 1.5vw;
  height:6vw;
  width:100%;
}


.label-radio-payment{
  font-size:1.2vw;
  position:relative;
  text-align:left;
}

.buy-button-payment{
  display:block;
  background:rgb(0, 0, 175);
  color:white;
  font-family:"Precious";
  font-size: 20px;
  width:100px;
  height:40px;
  position:relative;
  top:65px;
}