@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)

}

@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}

@font-face{
  font-family:"Elephant";
  src: local("Elephant"), url(../Fonts/Elephant.ttf)
}



.riepilogo-div{
  position: absolute;
  left: 40vw;
  top: -2vh;
  width: 24vw;
 }

.cart-icon{
  position:relative;
  display:inline-block;
  background: url("../Immagini/cart.png");
  background-size: 100% 100%;
  font-size: 5vh;
  left: 0.5vw;
  vertical-align: top;
  height: 7vh;
  width: 7vh;
}



.numero-prodotti-totale{
  vertical-align: top;
  position: absolute;
  display: inline-block;
  background: none;
  color: rgb(138, 1, 8);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 4vh;
  left: 8vw;
}




.go-to-cart-button{
  vertical-align: top;
  position: relative;
  display: inline-block;
  background: rgb(138, 1, 8);
  color: white;
  font-family: "Elephant";
  font-size: 3vh;
  width: 18vw;
  height: 7vh;
  z-index:3;
}

.numero-prodotti-carrello{
  position: absolute;
  top: 3vh;
  z-index: 2;
  font-size: 7vh;
  color: rgb(138, 1, 8);
  font-style: italic;
  font-family: "Elephant";
  display: inline-block;
  left:22vw;
 
}

.pagination-div{
  position: relative;
  width: 100vw;
  display: block;
  top: 10vh;
  left: -10vw;
  z-index:4;
}

.number{
  font-family: "Elephant";
  align-content: center;
  text-align:center;
  display:inline-block;
  width: 4.5vh;
  height: 4.5vh;
  line-height: 4.5vh;
  background:black;
  color:white;
  border:none;
  border-radius:2.25vh;
  margin-left:0.2vh;
  pointer-events:all;
  font-size:2vh;
  }


.number-selected{
  font-family: "Elephant";
  align-content: center;
  pointer-events:all;
  text-align: center;
  display: inline-block;
  width: 4.5vh;
  height: 4.5vh;
  line-height: 4.5vh;
  background: white;
  color: black;
  border: none;
  border-radius: 2.25vh;
  margin-left: 0.2vh;
  font-stretch: expanded;
  font-size:2vh;
}



.cart-div{
  width:60vw;
  height:50vw;
  position:absolute;
  /* background:black; */
  background-image: url('../Immagini/arancine-texture-chiaro.jpg');
  background-size:cover;
  z-index:6;
  top:3vh;
  left:-48vw;
  border:white 1px solid;
  display:block;
  scrollbar-color: white black;
  scrollbar-width:thin;

}


.space{
  width:10px;
}



::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background:black;
}


::-webkit-scrollbar-thumb {
  background: #f1f1f1;
} 