@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}

@font-face{
  font-family:"Elephant";
  src: local("Elephant"), url(../Fonts/Elephant.ttf)
}

.square-div{
  width: 20vw;
  height: 20vw;
  line-height: 20vw;
  background-image: url("../Immagini/Homepage/cannoloSiciliano.jpeg");
  background-size:contain;
}


#nome-prod{
  font-size: 4vh;
  font-weight: normal;
  color: rgb(138, 1, 8);
  
  font-family: "Elephant";
  position:relative;
  z-index:1;
}

#prezzo-prod{
  font-size: 4.5vh;
  line-height: 4vh;
  color: midnightblue;
  font-style: italic;
  font-family: "Elephant";
  display: inline-block;
  margin-top: 1vh;
  z-index: 1;
}


.euro-symbol{
  font-size: 2vh;
  color: midnightblue;
  font-weight: bold;
  font-style: italic;
  font-family: "Elephant", 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: -2vh;
  display: inline-block;
  left: 0.4vw;
  z-index: 1;
}


#codice-prod{
  font-size: 2vh;
  font-weight: normal;
  color: black;
  font-family: "Arial Narrow";
  z-index: 1;
  margin-bottom: 1vh;
  margin-top: 1vh;
}



.global-div{
  vertical-align: top;
  display: inline-block;
  width: 22vw;
  height: 22vw;
  padding-bottom: 10vh;
  padding-top: 10vh;
  position:relative;
}



.tooltip-class{
  height: 45vw;
  width: 55vw;
  top: -18vw;
  left: 3vw;
  position: relative;
  z-index:7;
}



.tick-class{
  background-image: url("../Immagini/tick.png");
  width: 15vh;
  height: 15vh;
  position: relative;
  background-size: 100% 100%;
  top: 0vw;
  left: 6vw;
  z-index: 2;

}