@font-face{
  font-family:"Precious";
  src: local("Precious"), url(../Fonts/Precious.ttf)
}


@font-face{
  font-family:"Worstveld";
  src: local("Worstveld"), url(../Fonts/WorstveldSling.ttf)
}





.header-detail{
  display: block;
  height: 20%;
  width: 100%;
  padding-top: 5%;
  position: relative;
}

.body-detail{
  position: relative;
  display: inline-block;
  align-content: center;
  vertical-align: top;
  height: 50%;
  width: 90%;
  top: -4%;
}


.nome-detail{
  display: block;
  position: relative;
  font-size: 4vw;
  color: gold;
}



.image-detail-2{
  left:-5%;
  position:relative;
  display:block;
  width: 101%;
  height:90%;
  background-size: 100% 100%;
  border-style:groove;
  border:1px solid white;
  z-index:4;

}

.image-detail-3{
  position: relative;
  display: block;
  width: 124%;
  height: 75%;
  z-index: 5;
  top: -14%;
  left: 10%;
  background-size: 100% 100%;
  border-style: groove;
  border: 1px solid white;
}

.description-detail{
  position: absolute;
  display: block;
  font-size: 2vw;
  color: rgb(138,1,8);
  font-family: "Worstveld";
  font-weight: bold;
  width: 96%;
  height: 65%;
  border: solid 1px black;
  right: -1vw;
  background:rgb(255, 255, 130);
  padding:0.5vw;
}

.add-to-cart-button{
  position: relative;
  top: 20vw;
  left: 6.5vw;
  background: midnightblue;
  font-family: "Elephant";
  color: darkseagreen;
  font-size: 1.2vw;
  height: 3.5vw;
  width: 14vw;
}

.column-left-detail{
  display:inline-block;
  width: 49%;
  height:100%;
}


.column-right-detail{
  vertical-align:top;
  display:inline-block;
  position:relative;
  width: 50%;
  height:100%;
}



.prezzo-detail{
  position: absolute;
  top: 31.2vw;
  right: -2vw;
  font-size: 2.5vw;
  color:  gold;
  font-style: italic;
  font-family: 'Elephant','Arial Narrow Bold', sans-serif;
  display: inline-block;
}

.euro-symbol-detail{
  font-size: 1.2vw;
  color: gold;
  font-style: italic;
  font-family: "Elephant", 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: -1.2vw;
  right: 0;
  padding-left: 0.4vw;
  display: inline-block;
}

  .riquadro-specifiche{
    padding: 0.35vw;
    border: 1px solid white;
    position: relative;
    top: 97%;
    width: 15vw;
    margin-left: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    text-align: center;
    color: black;
    line-height: 0.9vw;
    background: rgb(158, 158, 158);
    font-weight: bold;
  }

  .quantity-select{
    font-size: 1.7vw;
    font-family: "Worstveld";
    color: white;
    display: block;
    position: relative;
    top: 12vw;
    font-weight: bold;
    text-align: right;
  }



  .payment-div{
    display:"inline-block";
    background: rgb(160, 160, 160);
    height:100px;
    width:310px;
    border:white 1px solid;
    z-index:3;
    position:relative;
    height: 500px;
    left:400px;
    vertical-align:top;
    color:black;
    font-family:"Arial";
    font-size:12px;
    font-weight:Normal;
  }


  .main-div-tooltip{
    font-family: 'Elephant';
    display: inline-block;
    background: rgb(138,1,8);
    border: 1px solid white;
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 100%;
  }

 



  #quantitySelect{
    top: 0.4vw;
    font-size: 1vw;
    min-height: 1.5vw;
    max-width: 5vw;
    width: 5vw;
    position: relative;
    right: -1.1vw;
  }